* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.2rem;
}

body {
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: lightGray;
}

#divWithHello {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10%;
}

#input {
    margin: 5% 0;
}

#divWithResult {
    padding: 0 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
